body {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(im/homer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
